/* Voeg hier meer CSS stijlen toe naar wens */@import '../../node_modules/tailwindcss/dist/lib.d.mts';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
/*body {*/
/*    font-family: 'Arial', sans-serif;*/
/*    line-height: 1.6;*/
/*    color: #333;*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*    background-color: #252525;*/
/*}*/

/*h1, h2, h3 {*/
/*    color: #2c3e50;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.container {*/
/*    background-color: white;*/
/*    padding: 20px;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*}*/
